/easyui-lang-af.js
/easyui-lang-am.js
/easyui-lang-ar.js
/easyui-lang-bg.js
/easyui-lang-ca.js
/easyui-lang-cs.js
/easyui-lang-cz.js
/easyui-lang-da.js
/easyui-lang-de.js
/easyui-lang-el.js
/easyui-lang-en.js
/easyui-lang-es.js
/easyui-lang-fr.js
/easyui-lang-it.js
/easyui-lang-jp.js
/easyui-lang-ko.js
/easyui-lang-nl.js
/easyui-lang-pl.js
/easyui-lang-pt_BR.js
/easyui-lang-ru.js
/easyui-lang-sv_SE.js
/easyui-lang-tr.js
/easyui-lang-zh_CN.js
/easyui-lang-zh_TW.js
