/back.png
/blank.gif
/cancel.png
/clear.png
/cut.png
/edit_add.png
/edit_remove.png
/filesave.png
/filter.png
/help.png
/large_chart.png
/large_clipart.png
/large_picture.png
/large_shapes.png
/large_smartart.png
/lock.png
/man.png
/mini_add.png
/mini_edit.png
/mini_refresh.png
/more.png
/no.png
/ok.png
/pencil.png
/print.png
/redo.png
/reload.png
/search.png
/sum.png
/tip.png
/undo.png
